*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
/* main container */
.main-container{
   display: grid;
   max-width: 1200px;
   grid-template-columns:350px 1fr;
   gap:50px;
   padding-top: 40px;
   margin: auto;
    top: 40px;
}
/* side bar */
.side-bar{
    height: 100vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    border:solid #3a3a3a;
    padding: 20px;
    position: sticky;
    top: 40px;
}
/* main content */
.main-content{
    background-color: #2a2a2a;
     border-radius: 16px;
    border: solid #3a3a3a;
    padding: 30px;
}
/* Profile section */
.Profile{
    text-align: center;
}

.Profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid #3a3a3a;
}
.Profile h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: #e0e0e0;
}

.Profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;

}
/* contact information */
.contact{
    margin: 10px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.Email,.Phone{
    margin-bottom: 15px;
}
/* social */
.social{
    margin: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
    margin-bottom: 20px;

}
.social img:hover{
    filter: grayscale(0) invert(0);
}
/* navigation */
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}
nav a{
    text-decoration: none;
     color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

 nav a:hover{
    color: #FFBF00;
}
/* About me */
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

#about{
    margin-bottom: 40px;
}
/* my skills */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(150px,1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Education */
#education{
    margin-top: 20px;
}
.edtech{
    position: relative;
    margin-top: 20px;
}

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}

.work{
    color: #a0a0a0;
}

.edfirst, .edsecond{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.goal{
    height: 15px;
    width: 15px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top:5px;
    left: 0px;
    z-index: 10;
}

.liner{
    position: absolute;
    width: 2px;
    top:8px;
    bottom: 0px;
    left: 5px;
    border: 2px solid #3a3a3a;
}
/* portfolio */
.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);;
}

.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card{
    padding: 20px;
}

.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}